
<!DOCTYPE html>
<head>
  <title>todoList</title>
  <meta charset='utf-8'>
  <script src="node_modules/angular/angular.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/directive.js"></script>
  <script src="js/service.js"></script>


</head>

<body ng-app="todo">
  <div ng-controller="todoCtrl">
    <form name="todoForm" >
      task: <input name="newTodo" ng-model="newTodo" placeholder="What do you want to do next?" autofocus="aotofocus" required>
      <span ng-show="todoForm.newTodo.$touched && todoForm.newTodo.$invalid">请填写任务</span>
      <br>
      ddl: <input type="date" ng-model="newDate"><!--input type="time" ng-model="newTime"-->
      <button name="addTodo" ng-click="addTodo()">addTask</button>
    </form>

    <table ng-show="todos.length">
      <tr>
        <th>Title</th><th>Deadline</th>
      </tr>
      <tr ng-repeat="todo in todos">
        <td ng-show="todo.overdate == 'falth'" style="color:black">{{todo.title}}</td><td ng-show="todo.overdate == 'falth'" style="color:black">{{todo.ddl}}</td>
        <td ng-show="todo.overdate == 'true'" style="color:red">{{todo.title}}</td><td ng-show="todo.overdate == 'true'" style="color:red">{{todo.ddl}}</td>
      </tr>
    </table>
    <p>Today:<span>{{today}}</span></p>
    <p ng-show="todos.length">Total: {{todos.length}} items left</p>
    <p ng-show="overdated">Overdated: {{overdated}} items</p>
</div>
</body>
</html>
